@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 100%;
  font-family: 'Merriweather', serif;
}

.main {
  margin-top: 15%;
}

.st0 {
  fill: #fff
}

.st2 {
  fill: #5d89af
}

.st3 {
  fill: #709abf
}

.st4,
.st6 {
  fill: #fff;
  stroke: #b3dcdf;
  stroke-miterlimit: 10
}

.st6 {
  stroke: #5d89af;
  stroke-width: 2
}

.st7,
.st8,
.st9 {
  stroke: #709abf;
  stroke-miterlimit: 10
}

.st7 {
  stroke-width: 5;
  stroke-linecap: round;
  fill: none
}

.st8,
.st9 {
  fill: #fff
}

.st9 {
  fill: none
}

.st10 {}

#cloud1 {
  animation: cloud003 15s linear infinite;
}

#cloud2 {
  animation: cloud002 25s linear infinite;
}

#cloud3 {
  animation: cloud003 20s linear infinite;
}

#cloud4 {
  animation: float 4s linear infinite;
}

#cloud5 {
  animation: float 8s linear infinite;
}

#cloud7 {
  animation: float 5s linear infinite;
}

#tracks {
  animation: slide 650ms linear infinite;
}

#bumps {
  animation: land 10000ms linear infinite;
}

@keyframes jig {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(1px);
  }

  100% {
    transform: translateY(0px);
  }
}

#car-layers {
  animation: jig 0.35s linear infinite;
}

@keyframes land {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(1000px);
  }
}


@keyframes slide {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(100px);
  }
}

/* @keyframes cloudFloat {
  0% { transform: translateX(0) translateY(3px); }
  100% { transform: translateX(1000px) translateY(0); }
} */

@keyframes cloud001 {
  0% {
    transform: translateX(-1000px) translateY(3px);
  }

  100% {
    transform: translateX(1000px) translateY(0);
  }
}

@keyframes cloud002 {
  0% {
    transform: translateX(-1000px) translateY(3px);
  }

  100% {
    transform: translateX(1000px) translateY(0);
  }
}

@keyframes cloud003 {
  0% {
    transform: translateX(-1000px) translateY(3px);
  }

  100% {
    transform: translateX(1000px) translateY(0);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px) translateX(0);
  }

  50% {
    transform: translateY(8px) translateX(5px);
  }

  100% {
    transform: translateY(0px) translateX(0);
  }
}

#bracefront,
#braceback {
  animation: braces 1s linear infinite;
}

@keyframes braces {
  0% {
    transform: translateX(-2px);
  }

  25% {
    transform: translateX(3px);
  }

  50% {
    transform: translateX(-2px);
  }

  75% {
    transform: translateX(3px);
  }

  100% {
    transform: translateX(-2px);
  }
}



/* footer */

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

a,
a:hover {
  text-decoration: none !important;
}

.content {
  height: 70vh;
}

.footer-32892 {
  background-color: #202126;
  padding: 7rem 0;
  color: #888;
  font-size: 16px;
}

.footer-32892,
.footer-32892 h3 {
  font-family: "Poppins", sans-serif;
}

.footer-32892 h3 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 30px;
}

.footer-32892 p {
  font-family: "Source Serif Pro", serif;
}

.footer-32892 .row.gallery {
  margin-right: -5px;
  margin-left: -5px;
}

.footer-32892 .row.gallery>[class^="col-"],
.footer-32892 .row.gallery>[class*=" col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

.footer-32892 .gallery a {
  display: block;
  margin-bottom: 10px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.footer-32892 .gallery a:hover {
  opacity: .5;
}

.footer-32892 .quick-info li {
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-32892 .quick-info li a {
  color: #fff;
}

.footer-32892 .quick-info li .icon {
  font-size: 20px;
  color: #f88020;
}

.footer-32892 .subscribe {
  position: relative;
}

.footer-32892 .subscribe .form-control {
  background-color: #292b31;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 30px;
  height: 55px;
  padding-left: 30px;
  padding-right: 130px;
  border: none;
  color: #fff;
}

.footer-32892 .subscribe .form-control::-webkit-input-placeholder {
  color: #ccc;
  font-size: 14px;
}

.footer-32892 .subscribe .form-control::-moz-placeholder {
  color: #ccc;
  font-size: 14px;
}

.footer-32892 .subscribe .form-control:-ms-input-placeholder {
  color: #ccc;
  font-size: 14px;
}

.footer-32892 .subscribe .form-control:-moz-placeholder {
  color: #ccc;
  font-size: 14px;
}

.footer-32892 .subscribe .btn-submit {
  background: #f88020;
  height: 47px;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 4px;
  right: 4px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.footer-32892 .tweets li {
  margin-bottom: 20px;
  font-size: 15px;
  font-style: italic;
  font-family: "Source Serif Pro", serif;
}

.footer-32892 .tweets li span {
  color: #fff;
}

.footer-32892 .footer-menu-wrap {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 2rem !important;
  margin-top: 7rem;
}

.footer-32892 .footer-menu {
  margin-bottom: 0;
}

.footer-32892 .footer-menu li {
  display: inline-block;
}

@media (max-width: 767.98px) {
  .footer-32892 .footer-menu li {
    display: block;
  }
}

.footer-32892 .footer-menu li a {
  padding: 10px;
  display: inline-block;
  color: #fff;
}

@media (max-width: 767.98px) {
  .footer-32892 .footer-menu li a {
    display: block;
    padding-left: 0px;
  }
}

.footer-32892 .footer-menu li:first-child a {
  padding-left: 0;
}

.footer-32892 .site-logo {
  color: #fff;
  font-size: 20px;
}

/* input type range of typeproductpage */
.range-slider {
  width: 200px;
  text-align: center;
  position: relative;

  .rangeValues {
    display: block;
  }
}

input[type=range] {
  -webkit-appearance: none;
  border: 1px solid white;
  width: 200px;
  position: absolute;
  left: 0;
  border-radius: 10px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 200px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;

}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #21c1ff;
  margin-top: -4px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type=range]::-moz-range-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #21c1ff;

}


/*hide the outline behind the border*/

input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type=range]::-ms-track {
  width: 300px;
  height: 5px;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: transparent;
  z-index: -4;

}

input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}

input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #21c1ff;
}

input[type=range]:focus::-ms-fill-lower {
  background: #888;
}

input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}



/* css trang liên hệ */
/* svg {
  margin-right: 4rem;
} */

#envelope {
  animation: float 2s ease-in-out infinite;
}

#star1,
#star2,
#star3,
#star4,
#star5,
#star6 {
  animation: blink 1s ease-in-out infinite;
}

#star2 {
  animation-delay: 100ms;
}

#star3 {
  animation-delay: 500ms;
}

#star4 {
  animation-delay: 700ms;
}

#star5 {
  animation-delay: 300ms;
}

#star6 {
  animation-delay: 200ms
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.container {
  height: 100vh;
}

form {
  min-width: 25rem;

  .title {
    font-family: 'Pacifico', cursive;
    color: #212529;
    font-size: 2.5rem;
  }

  .form-control {
    background-color: #f2f6f8;
    border-radius: 2rem;
    border: none;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);

    &.thick {
      height: 3.3rem;
      padding: .5rem 3.5rem;
    }

    &:focus {
      background-color: #f2f6f8;
      border: none;
      box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
    }
  }

  .message .form-control {
    padding: .5rem 1.8rem;
  }

  ::placeholder {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    color: #838788;
    position: relative;
    left: 0;
  }

  input,
  textarea {
    font-family: 'Quicksand', sans-serif;
    color: #212529;
    font-size: 1.1rem;
  }

  .icon {
    color: #57565c;
    height: 1.3rem;
    position: absolute;
    left: 1.5rem;
    top: 1.1rem;
  }
}


.btn.btn-primary:hover:enabled {
  box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
  background-size: 100% 100%;
  transform: translateY(-0.15em);
}

.ReactQueryDevtools {
  display: none;
}




/* dashboard */
.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}

.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}

.icon,
.icon_header {
  margin-right: 5px;
}

.close_icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}

/* Header  */
.header {
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon {
  display: none;
}

/* End Header  */

/* Sidebar  */
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #263043;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}

.sidebar-title>span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item>a {
  text-decoration: none;
  color: #9e9ea4;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  /*
    we want the z-index of the sidebar higher so that
    the charts are not showing over the sidebar 
    on small screens
  */
  z-index: 12 !important;
}

/* End Sidebar  */


/* Main  */
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}

.card:first-child {
  background-color: #2962ff;
}

.card:nth-child(2) {
  background-color: #383b60;
}

.card:nth-child(3) {
  background-color: #2e7d32;
}

.card:nth-child(4) {
  background-color: #d50000;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner h3 {
  font-size: 1rem;
}

.card-inner h1 {
  font-size: 1rem;
}

.card-inner>.card_icon {
  font-size: 25px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}

/* End Main  */


/* Medium <= 992px */

@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title>span {
    display: inline;
  }
}

/* Small <= 768px */

@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
  .hedaer-left {
    display: none;
  }
}

.slick-prev:before {
  color: #e4c075
}

.slick-next:before {
  color: #e4c075
}